/*
* Custom CSS
* By: Ryan James A. Caday
*
*/


a:link
{
	color: #007bff; 
	text-decoration: none;
}
li
{
	color: black !important; 
	text-decoration: none !important;

}
.card-body1
{
	flex: 1 1 auto;
	padding: 1.25rem;
}
#dic
{
	padding-top: 55px
}
#docs
{
	font-size:12px;
}
#cp
{
	color: #007bff !important; 
	text-decoration: none !important;

}
.innerSubCat {
	font-size: 12px;

}
